$fs-brand-neutral-00: #fff;
$fs-brand-neutral-05: #f0f0f1;
$fs-brand-neutral-10: #dcdcde;
$fs-brand-neutral-20: #c3c4c7;
$fs-brand-neutral-60: #8c8f94;
$fs-brand-neutral-70: #50575e;
$fs-brand-neutral-90: #1d2327;

$fs-brand-primary-10: #f0f6fc;
$fs-brand-primary-20: #72aee6;
$fs-brand-primary-50: #2271b1;
$fs-brand-primary-60: #135e96;
$fs-brand-primary-70: #0a4b78;
$fs-brand-primary-80: #043959;
$fs-brand-primary-90: #01263a;
$fs-brand-primary-100: #00131c;
