$fs-brand-neutral-00: #fff;
$fs-brand-neutral-05: #f0f0fa;
$fs-brand-neutral-10: #dadae6;
$fs-brand-neutral-20: #c6c6d0;
$fs-brand-neutral-60: #94949c;
$fs-brand-neutral-70: #616166;
$fs-brand-neutral-90: #0e0e0e;

$fs-brand-primary-20: #9688ff;
$fs-brand-primary-50: #6753ff;
$fs-brand-primary-60: #4229ff;
$fs-brand-primary-70: #1800cc;
$fs-brand-primary-80: #120099;

$fs-brand-accent-50: #902af5;
$fs-brand-accent-60: #7a0bea;
$fs-brand-accent-70: #6609c3;

$fs-brand-secondary-10: #b4d2ff;
