@import 'vars';
@import 'style';

#fs_pricing.fs-full-size-wrapper {
  margin-top: 0;
}

#root,
#fs_pricing_app {
  background: $fsds-background-shade;
  color: $fsds-text-color;
  height: auto;
  line-height: normal;

  font-size: 13px;
  margin: 0;

  h1,
  h2,
  h3,
  h4,
  ul,
  blockquote {
    margin: 0;
    padding: 0;
    text-align: center;
    color: $fsds-heading-text-color;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }

  ul {
    list-style-type: none;
  }

  p {
    font-size: 0.9em;
  }

  p,
  blockquote {
    color: $fsds-text-color;
  }

  strong {
    font-weight: bold;
  }

  li,
  dd {
    margin: 0;
  }

  /**
   * MAIN HEADER
   */
  .fs-app-header {
    .fs-page-title {
      margin: 0 0 15px;
      text-align: left;
      display: flex;
      flex-flow: row wrap;
      gap: 10px;
      align-items: center;
      padding: 20px 15px 10px;

      h1 {
        font-size: 18px;
        margin: 0;
      }

      h3 {
        margin: 0;
        font-size: 14px;
        padding: 4px 8px;
        font-weight: normal;
        border-radius: 4px;
        background-color: $fsds-background-accented;
        color: $fsds-muted-text-color;
      }
    }

    .fs-plugin-title-and-logo {
      margin: 0 15px;
      background: $fsds-background-color;
      padding: 12px 0;
      border: 1px solid $fsds-divider-color;
      border-radius: 4px;
      text-align: center;

      .fs-plugin-logo,
      h1 {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
      }

      .fs-plugin-logo {
        width: 48px;
        height: 48px;
        border-radius: 4px;

        @media screen and (min-width: $fsds-breakpoint-tablet) {
          width: 64px;
          height: 64px;
        }
      }
    }
  }

  .fs-trial-message {
    padding: 20px;
    background: $fsds-notice-warn-background;
    color: $fsds-notice-warn-color;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid $fsds-notice-warn-border;
    border-bottom: 1px solid $fsds-notice-warn-border;
    font-size: 1.2em;
    box-sizing: border-box;
    margin: 0 0 5px 0;
  }

  /**
   * MAIN SECTIONS CONTAINER
   */
  .fs-app-main {
    text-align: center;

    .fs-section {
      margin: auto;
      display: block;

      .fs-section-header {
        font-weight: bold;
      }
    }

    > .fs-section {
      padding: 20px;
      margin: 4em auto 0 auto;

      &:nth-child(even) {
        background: $fsds-background-color;
      }

      > header {
        margin: 0 0 3em 0;

        h2 {
          margin: 0;
          font-size: 2.5em;
        }
      }
    }

    .fs-section--plans-and-pricing {
      padding: 20px;
      margin-top: 0;

      > .fs-section {
        margin: 1.5em auto 0;

        &:first-child {
          margin-top: 0;
        }
      }

      .fs-annual-discount {
        font-weight: bold;
        font-size: small;
      }

      .fs-section--trial-header {
        text-align: center;
        background: $fsds-background-color;
        padding: 20px;
        border-radius: 5px;
        box-sizing: border-box;
        max-width: 945px;

        h2 {
          margin-bottom: 10px;
        }

        h4 {
          font-weight: normal;
        }
      }

      .fs-currencies {
        border-color: $fsds-button-border-color;
      }

      .fs-section--billing-cycles {
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        width: auto;

        .fs-billing-cycles {
          overflow: hidden;

          li {
            border: 1px solid $fsds-border-color;
            border-right-width: 0;
            display: inline-block;
            font-weight: bold;
            margin: 0;
            padding: 10px 10px;
            cursor: pointer;

            &:first-child {
              border-radius: 20px 0 0 20px;
            }

            &:last-child {
              border-radius: 0 20px 20px 0;
              border-right-width: 1px;
            }

            &.fs-selected-billing-cycle {
              background: $fsds-background-color;
              color: $fsds-primary-accent-color-hover;
            }
          }
        }
      }

      .fs-section--custom-implementation {
        padding: 15px 15px;
        background: $fsds-background-color;
        border: 1px solid $fsds-divider-color;
        border-radius: 4px;
        box-sizing: border-box;
        max-width: 945px;
        margin: 0 auto;

        h2 {
          margin-bottom: 10px;
          font-weight: bold;
        }

        p {
          font-size: small;
          margin: 0;
        }
      }

      .fs-section--money-back-guarantee {
        max-width: 857px;
        margin: 30px auto;
        position: relative;

        .fs-money-back-guarantee-title {
          color: $fsds-heading-text-color;
          font-weight: bold;
          margin-bottom: 15px;
        }

        .fs-money-back-guarantee-message {
          font-size: small;
          line-height: 20px;
          margin-bottom: 15px;
          padding: 0 15px;
        }

        img {
          position: absolute;
          width: 90px;
          top: 50%;
          right: 0;
          margin-top: -45px;
        }
      }

      .fs-section--badges {
        .fs-badge {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          box-shadow: none;
          background: transparent;

          & + .fs-badge {
            margin-left: 20px;
            margin-top: 13px;
          }
        }
      }
    }

    .fs-section--testimonials {
      border-top: 1px solid $fsds-border-color;
      border-bottom: 1px solid $fsds-border-color;
      padding: 3em 4em 4em;

      .fs-section-header {
        margin-left: -30px;
        margin-right: -30px;
      }

      .fs-testimonials-nav {
        margin: auto;
        display: block;
        width: auto;
        position: relative;

        .fs-nav {
          &.fs-nav-prev,
          &.fs-nav-next {
            top: 50%;
            border: 1px solid $fsds-border-color;
            border-radius: 14px;
            cursor: pointer;
            margin-top: 11px;

            position: absolute;

            .fs-icon {
              display: inline-block;
              height: 1em;
              width: 1em;
              line-height: 1em;
              color: $fsds-muted-text-color;
              padding: 5px;
            }
          }

          &.fs-nav-prev {
            margin-left: -30px;
          }

          &.fs-nav-next {
            right: -30px;
          }
        }

        .fs-testimonials-track {
          margin: auto;
          overflow: hidden;
          position: relative;
          display: block;
          padding-top: 45px;
        }

        .fs-testimonials {
          width: 10000px;
          display: block;
          position: relative;
          transition: left 500ms ease, right 500ms ease;

          .fs-testimonial {
            float: left;
            font-size: small;
            position: relative;
            width: 340px;
            box-sizing: border-box;
            margin: 0;

            > section {
              box-sizing: border-box;
            }
            .fs-testimonial-rating {
              color: $fsds-testimonial-star-color;
            }

            .fs-testimonial-header,
            > section {
              background: $fsds-background-color;
              padding: 10px;
              margin: 0 2em;
              border: 1px solid $fsds-divider-color;
            }

            > section {
              border-radius: 0 0 8px 8px;
              border-top: 0 none;
            }

            .fs-testimonial-header {
              border-bottom: 0 none;
              border-radius: 8px 8px 0 0;

              .fs-testimonial-logo {
                border: 1px solid $fsds-divider-color;
                border-radius: 44px;
                padding: 5px;
                background: $fsds-background-color;
                width: 76px;
                height: 76px;
                position: relative;
                margin-top: -54px;
                left: 50%;
                margin-left: -44px;

                object,
                img {
                  max-width: 100%;
                  border-radius: 40px;
                }
              }

              h4 {
                margin: 15px 0 6px 0;
              }
            }

            .fs-icon-quote {
              color: $fsds-muted-text-color;
            }

            .fs-testimonial-message {
              line-height: 18px;
            }

            .fs-testimonial-author {
              margin-top: 30px;
              margin-bottom: 10px;

              .fs-testimonial-author-name {
                font-weight: bold;
                margin-bottom: 2px;
                color: $fsds-text-color;
              }
            }
          }
        }
      }

      .fs-nav-pagination {
        margin: 4em 0 0;
        position: relative;

        li {
          position: relative;
          display: inline-block;
          margin: 0 8px;

          button.fs-round-button {
            cursor: pointer;
            border: 1px solid $fsds-border-color;
            vertical-align: middle;
            display: inline-block;
            line-height: 0;
            width: 8px;
            height: 8px;
            padding: 0;
            color: transparent;
            outline: none;
            border-radius: 4px;
            overflow: hidden;

            span {
              display: inline-block;
              width: 100%;
              height: 100%;
              background: $fsds-background-shade;
            }
          }

          &.selected {
            button {
              border: 0 none;
            }

            button.fs-round-button span {
              background: $fsds-background-accented;
            }
          }
        }
      }
    }

    .fs-section--faq {
      background: $fsds-background-shade;

      .fs-section--faq-items {
        max-width: 945px;
        margin: 0 auto;
        box-sizing: border-box;
        text-align: left;
        columns: 2;
        column-gap: 20px;

        @media only screen and (max-width: 600px) {
          columns: 1;
        }

        .fs-section--faq-item {
          width: 100%;
          display: inline-block;
          vertical-align: top;
          margin: 0 0 20px 0;
          overflow: hidden;

          h3,
          p {
            margin: 0;
            text-align: left;
          }

          h3 {
            background: $fsds-background-dark;
            color: $fsds-dark-background-text-color;
            padding: 15px;
            font-weight: bold;
            border: 1px solid $fsds-background-darkest;
            border-bottom: 0 none;
            border-radius: 4px 4px 0 0;
          }

          p {
            background: $fsds-background-color;
            font-size: small;
            padding: 15px;
            line-height: 20px;
            border: 1px solid $fsds-border-color;
            border-top: 0 none;
            border-radius: 0 0 4px 4px;
          }
        }
      }
    }
  }

  .fs-button {
    background: $fsds-button-background-color;
    color: $fsds-button-text-color;
    padding: 12px 10px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    border-radius: 4px;
    border: 0 none;
    cursor: pointer;

    &:focus:not(:disabled) {
      box-shadow: 0 0 0 1px $fsds-button-border-focus-color;
    }

    transition: background 200ms ease-out, border-bottom-color 200ms ease-out;

    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled) {
      will-change: background, border;
      background: $fsds-button-background-hover-color;
    }

    &.fs-button--outline {
      padding-top: 11px;
      padding-bottom: 11px;
      background: $fsds-background-color;
      border: 1px solid $fsds-button-border-color;

      &:focus:not(:disabled) {
        background: $fsds-background-shade;
        border-color: $fsds-button-border-focus-color;
      }

      &:hover:not(:disabled),
      &:active:not(:disabled) {
        background: $fsds-background-shade;
        border-color: $fsds-button-border-hover-color;
      }
    }

    &.fs-button--type-primary {
      background-color: $fsds-button-primary-background-color;
      color: $fsds-button-primary-text-color;
      border-color: $fsds-button-primary-border-color;

      &:focus:not(:disabled),
      &:hover:not(:disabled),
      &:active:not(:disabled) {
        background-color: $fsds-button-primary-background-hover-color;
        border-color: $fsds-button-primary-border-hover-color;
      }

      &.fs-button--outline {
        background-color: $fsds-background-color;
        color: $fsds-primary-accent-color;
        border: 1px solid $fsds-button-primary-border-color;

        &:focus:not(:disabled),
        &:hover:not(:disabled),
        &:active:not(:disabled) {
          background-color: $fsds-background-shade;
          color: $fsds-button-primary-background-hover-color;
          border-color: $fsds-primary-accent-color-hover;
        }
      }
    }

    &:disabled {
      cursor: not-allowed;
      background-color: $fsds-button-disabled-background-color;
      color: $fsds-button-disabled-text-color;
      border-color: $fsds-button-disabled-border-color;
    }

    &.fs-button--size-small {
      font-size: 14px;
      width: auto;
    }
  }

  .fs-placeholder {
    &:before {
      content: '';
      display: inline-block;
    }
  }

  .fs-app-main {
    @media only screen and (max-width: 768px) {
      .fs-section--testimonials .fs-nav-pagination {
        display: none !important;
      }

      .fs-section > header h2 {
        font-size: 1.5em;
      }
    }

    @media only screen and (max-width: 455px) {
      .fs-section--testimonials
        .fs-testimonials-nav
        .fs-testimonials
        .fs-testimonial {
        width: auto;
      }

      .fs-section--billing-cycles .fs-billing-cycles li.fs-period--annual {
        span {
          display: none;
        }
      }
    }

    @media only screen and (max-width: 375px) {
      .fs-section--testimonials
        .fs-testimonials-nav
        .fs-testimonials
        .fs-testimonial {
        width: auto;
      }
    }
  }
}
