{
    "presets": ["@babel/preset-react"],
    "plugins": [
      "@babel/proposal-class-properties",
      "@babel/plugin-syntax-dynamic-import",
      "@babel/plugin-syntax-export-namespace-from",
      [
        "transform-imports",
        {
          "@fortawesome/free-regular-svg-icons": {
            "transform": "@fortawesome/free-regular-svg-icons/${member}",
            "skipDefaultConversion": true
          },
          "@fortawesome/free-solid-svg-icons": {
            "transform": "@fortawesome/free-solid-svg-icons/${member}",
            "skipDefaultConversion": true
          }
        }
      ]
    ]
}